$containerBackgroundColor: yellow;
$containerBorderColor: black;

$containerItemBorderColor: green;


.container {
    display: flex;
    background-color: $containerBackgroundColor;
    border: 1px solid $containerBorderColor;

    & * {
        border: 1px solid $containerItemBorderColor;
        user-select: none;
    }
}